

.Home{
  text-align: left;
}

.app-background {
  background-color: #f1f8fc;
}

.round-border {
  border-radius: 10px;
}

.white-bk {
  background-color: white;
}


.text-left {
  text-align: left;
}

.pictureSection{
  height: 250px;

}

.aroundColumns{
  width: 50%;
}

.light-gray {
  background-color: #d3d3d3;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.ourList {
  list-style:none;
}

.tableStyles{
  margin-left:auto;
  margin-right:auto;
}

.tableRow {
  padding: 5px;
}

.bigParagraph {
  max-width: 70%;
  margin: auto;
  text-align: left;
}

.bigTextArea {
border:solid 1px orange;
  margin: 0px;
  width: 70%;
  height: 10%;
}
